/************************************************************
* Name: main.css
* Purpose: Primary stylesheet for blog
* Author:   Anthony McGrath
* Date Created: 23/06/2020
*************************************************************
* font-family: 'Volkhov', serif;
* font-family: 'Oxygen', sans-serif;
*************************************************************/

:root{
	--theme-bg: rgba(64, 9, 96, 0.1);
	--brand-half: rgba(64, 9, 96, 0.5);
	--font-color: black;
	--headings: rgba(64, 9, 96, 1);
	--overlay-white: rgba(255,255,255,0.8);
	--overlay-mid-white: rgba(255,255,255,0.5);
	--overlay-semi-white: rgba(255,255,255,0.2);
	--overlay-black: rgba(0,0,0,0.2);
	--overlay-semi-black: rgba(0,0,0,0.1);
}

@font-face {
  font-family: LemonMilk;
  src: url(../fonts/LEMONMILK-Regular.otf);
}
/**************************************************************
/* Global styles 
/*************************************************************/
body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: Oxygen, sans-serif;
	color: black;
	color: var(--font-color);
	background-color: #efefef;
	background-color: var(--theme-bg);
	line-height: 1.6em;
}

h1, h2, h3, h4 {
	color: var(--headings);
	font-family: LemonMilk, 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

a:link, a:visited {
	color: var(--headings);
}

.clear {
	clear: both;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.container.entry img {
	height: 140px;
	float: right;
}

.container-fluid .container.entry img {
	float: left;
	margin-left: 0px; 
	margin-right: 1em;
}
/**************************************************************
/* Hero Image
/*************************************************************/

/* The hero image */
#hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");

	/* Set a specific height */
	height: 100vh;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	-webkit-transition: background 1s;
		-moz-transition: background 1s;
		-o-transition: background 1s;
		transition: background 1s;

	top: 0;
	width: 100%; /* Full width */
	transition: 0.5s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

#hero-image.Blog {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/typewriter.jpg");
	background-position: right;
}

/* Place text in the middle of the image */
#hero-text {
	height: auto;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	color: white;
	transition: 0.5s;
}

.Blog #hero-text {
	left: 25%;
}
#hero-text img {
	width: 150px;
	height: auto;
	margin-bottom: 2em;
}
#hero-text p {
	font-size: 1.6em;
	line-height: 1.6em;
}

/**************************************************************
/* Masthead
/*************************************************************/
header {
	padding: 25px;
	text-align: center;
}

#masthead {
	height: 150px;
	width: auto;
	text-align: center;
}

/**************************************************************
/* Navigation
/*************************************************************/
.navbar-light {
	text-align: center;
	font-family: LemonMilk, sans-serif;
	font-weight: 700;
	padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--headings);
	padding: 1em;
}

.navbar-light .navbar-nav .nav-link:hover, .show, .dropdown-item:active  {
	color: var(--headings);
	background-color: var(--theme-bg);
}

.dropdown-menu.show {
	border-radius: 0px;
	margin-top: 0px;
	background-color: #EBE5EE;
}

.dropdown-divider {
	border-color: var(--theme-bg);
}

.navbar-light .navbar-nav .nav-link:active {
	color: var(--headings);
}

.active {
	color: var(--headings);
	background-color: var(--theme-bg);
}

.bg-light {
	background-color: var(--theme-bg) !important;
}

.navbar-toggler {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/**************************************************************
/* Body Content
/*************************************************************/

.container-fluid {
	background-color: var(--theme-bg);
}

.blog {
	padding-top: 1rem;
	background-color: var(--overlay-mid-white);
	box-shadow: 0px 0px 4px var(--overlay-black);
	position: relative;
	padding-bottom: 1.5em;
}
.reference {
	vertical-align: super;
	font-size: smaller;
}

.example {
	min-width: 350px;
	margin: 0 auto 1em auto;
	text-align: left;
	background-color: var(--overlay-semi-white);
	padding: 1em;
}
.example ol {
	margin-bottom: 0px;
}

.example.code {
	padding-bottom: 0.5em;
}
.comment {
	color: forestgreen;
}

.relative {
	position: relative;
	top: 30px; 
	left: 30px;
}

.absolute {
	position: absolute;
	top: 0px;
	right: 0px;
}

.blog p a {
	display: block;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.strike {
	text-decoration: line-through;
	color: rgb(114, 3, 3)
}

.links {
	display: block;
	width: 66%;
}
.contact {
	
	text-align: center;
}

.row.contact .col-sm {
	margin-top: 1em;
}
.contact div {
	font-size: 1.4em;
}

.dynamicGrid div {
	padding: 1em;
	border: solid 1px var(--theme-bg);
}
.dynamicGrid .alt {
	background-color: var(--theme-bg);
	border-width: 0px;
}


/************************************************
/* Image manipulation 
/***********************************************/

.image {
	width: 220px;
	min-width: 220px;
	padding: 10px;
	background-color: var(--overlay-mid-white);
}

.blog-image {
	width: 200px;
	height: auto;
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 5px var(--overlay-black);
}

.fig {
	border-radius: 0.4em;
	box-shadow: 5px 5px 10px var(--overlay-black);
}
.thumb {
	margin: 0 auto 2em auto;
	width: 250px;
	height: 250px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	border-radius: 50%;
	border: solid var(--overlay-mid-white) 5px;
	box-shadow: 0px 0px 20px var(--overlay-black);
	overflow: hidden;
}

.thumb-text {
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 40%;
	color: white;
	background-color: var(--overlay-black);
	transition: visibility 0.5s, opacity 0.5s;
}

.thumb-text h3 {
	color: white;
}

.thumb:hover .thumb-text {
	visibility: visible;
	opacity: 1;
}

.nicole {
	/* background-position: 55% 35%; */
	background-image: url('../images/nicole.jpg');
}

.rhiain {
	background-position: 55% 35%;
	background-image: url('../images/rhiain.jpg');
}
.queene {
	background-position: 55% 35%;
	background-image: url('../images/queene.jpg');
}
.david {
	background-position: 55% 35%;
	background-image: url('../images/david.jpg');
}

.me {
	background-position: 50% 50%;
	background-image: url('../images/me.jpg');
	float: right;
}

.png-shadow {
	-webkit-filter: drop-shadow(5px 5px 5px var(--overlay-black));
	filter:         drop-shadow(5px 5px 5px var(--overlay-black)); 
}

.eg-img {
	float: right;
	margin-left: 1.5em;
	max-width: 40%;
	min-width: 150px;
}

.social {
	height: 2em;
	width: auto;
	margin-bottom: 0.5em;
}

.gridIcon {
	display: block;
	object-fit: cover;
	width: 200px;
	max-width: 100%;
	height: auto;
	max-height: 200px;
	border-radius: 50%;
	margin-bottom: 1em;
}

/**************************************************************
/* Footer
/*************************************************************/

footer {
	font-size: 0.8em;
	width: auto;
	margin: 0px auto;
	padding: 0.5em;
	background-color: var(--theme-bg);
	text-align: center;
}

#scroll {
	display: none; /* Hidden by default */
  text-align: center;
	position: fixed;
  bottom: 0px;
	right: 5vw;
  z-index: 99; 
  cursor: pointer;
	padding: 5px;
	background-color: var(--headings);
	border-radius: 5px 5px 0px 0px;
	width: 50px;
	height: 40px;
	transition: visibility 0s, height 0.2s, width 0.2s,  opacity 0.2s linear;
}

#scroll img {
	height: 20px;
	width: auto;
}

.tooltip {
	visibility: hidden;
	opacity: 0;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#scroll:hover {
	width: 85px;
	height: 50px;
}

#scroll:hover .tooltip {
	visibility: visible;
	opacity: 1;
}


/**************************************************************
/* Reactive content
/*************************************************************/
@media (max-width: 992px){
	h1 {
		font-size: 1.6rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	h3 {
		font-size: 1.2rem;
	}
	h4 {
		font-size: 1rem;
	}
	.dropdown-menu {
		text-align: center;
		background-color: var(--overlay-semi-white);
	}
	.show {
		background: none;
	}
}

@media screen and (max-width: 800px) {
	.blog h3 {
			font-size: 1.2em;
	}
	.me {
		float: none;
		overflow: visible;
		margin-bottom: 100px;
	}
}

@media (max-width: 766px){
	h1 {
		font-size: 1.4rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 600px) {
	nav ul li {
		display: inline-block;
	}

	nav ul li a {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	#hero-text, .Blog #hero-text {
		width: 90%;
		left: 50%;
	}
	.eg-img {
		float: none;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.thumb {
		float: none;
		overflow: visible;
		margin-bottom: 100px;
	}
	.thumb-text {
		background: none;
		position: relative;
		top: 260px;
		visibility: visible;
		opacity: 1;
		color: var(--headings);
		padding: 0px;
	}
	.thumb-text h3 {
		color: var(--headings);
	}
	.gridIcon {
		margin-bottom: 1em;
	}
}

@media (max-width: 575px){
	.blog.col-sm.ml-2 {
		margin-left: 0px !important;
	}
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size: 1.1rem;
	}
	.gridIcon {
		max-width: 100%;
		height: auto;
	}
}





