/************************************************************
* Name: main.css
* Purpose: Primary stylesheet for blog
* Author:   Anthony McGrath
* Date Created: 23/06/2020
*************************************************************
* font-family: 'Volkhov', serif;
* font-family: 'Oxygen', sans-serif;
*************************************************************/

:root{
    --theme-bg: rgba(64, 9, 96, 0.1);
    --font-color: black;
    --headings: rgba(64, 9, 96, 1);
    --overlay-white: rgba(255,255,255,0.8);
    --overlay-mid-white: rgba(255,255,255,0.5);
    --overlay-semi-white: rgba(255,255,255,0.2);
    --overlay-black: rgba(0,0,0,0.2);
    --overlay-semi-black: rgba(0,0,0,0.1);
}

/**************************************************************
/* Global styles 
/*************************************************************/
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Oxygen, sans-serif;
    color: black;
    color: var(--font-color);
    background-color: #efefef;
    background-color: var(--theme-bg);
    text-align: center;
    line-height: 1.6em;
}

h1, h2, h3 {
    color: var(--headings);
    font-family: 'Volkhov', serif;;
}

a:link, a:visited {
    color: var(--headings);
}

/**************************************************************
/* Masthead
/*************************************************************/
header {
    padding: 25px;
}

#masthead {
    height: 200px;
    width: auto;
}

/**************************************************************
/* Navigation
/*************************************************************/
nav {
    margin: 0 auto;
    background-image: linear-gradient(to right, var(--theme-bg), rgba(64, 9, 96, 0.8), var(--theme-bg));
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 5px 5px var(--overlay-black);
}

nav ul li a:link, nav ul li a:visited {
    display: block;
    padding: 1em;
    text-transform: uppercase;
    color: var(--overlay-white);
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--overlay-black);
}

nav ul li.selected a {
    background-color: var(--overlay-black);
    cursor: default;
}

nav ul li.sub a {
    cursor: pointer;
}
/**************************************************************
/* Body Content
/*************************************************************/

.container-fluid {
    background-color: var(--theme-bg);
}

.blog {
    padding-top: 1rem;
    background-color: var(--overlay-mid-white);
    box-shadow: 0px 0px 4px var(--overlay-black);
    position: relative;
    padding-bottom: 1.5em;
}
.reference {
    vertical-align: super;
    font-size: smaller;
}

.red-text {
    color: red;
}

.example {
    width: 50%;
    min-width: 400px;
    margin: 0 auto 1em auto;
    text-align: left;
    background-color: var(--overlay-semi-white);
    padding: 1em;
}
.example ol {
    margin-bottom: 0px;
}
.image {
    width: 220px;
    min-width: 220px;
    padding: 10px;
    background-color: var(--overlay-mid-white);
}

.comment {
    color: forestgreen;
}
.blog-image {
    width: 200px;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 5px var(--overlay-black);
}

.relative {
    position: relative;
    top: 30px; 
    left: 30px;

}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

.blog p a {
    display: block;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.thumb {
    margin: 0 auto 2em auto;
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    border: solid var(--overlay-mid-white) 5px;

    overflow: hidden;
}

.thumb-text {
    display: block;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40%;
    color: white;
    background-color: var(--overlay-black);
    transition: visibility 0s, opacity 0.5s;
}

.thumb-text h3 {
    color: white;
}

.thumb:hover .thumb-text {
    visibility: visible;
    opacity: 1;
}

.nicole {
    /* background-position: 55% 35%; */
    background-image: url('../images/nicole.jpg');
}

.rhiain {
    background-position: 55% 35%;
    background-image: url('../images/rhiain.jpg');
}
.queene {
    background-position: 55% 35%;
    background-image: url('../images/queene.jpg');
}
.dave {
    background-position: 55% 35%;
    background-image: url('../images/dave.jpg');
}

/**************************************************************
/* Footer
/*************************************************************/
footer {
    font-size: 0.8em;
    width: auto;
    margin: 0px auto;
    padding: 0.5em;
    background-color: var(--theme-bg);
}

#to-top {
    position: fixed;
    bottom: 0px;
    right: 5vw;
    padding: 5px;
    background-color: var(--headings);
    border-radius: 5px 5px 0px 0px;
    width: 50px;
    height: 40px;
    transition: visibility 0s, height 0.2s, width 0.2s,  opacity 0.2s linear;
}

#to-top img {
    height: 20px;
    width: auto;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#to-top:hover {
    width: 85px;
    height: 50px;
    
}
#to-top:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/**************************************************************
/* Reactive content
/*************************************************************/
/* @media screen and (max-width: 600px) {
    #masthead {
        height: 20vmin;
    }
    section {
        width: auto;
    }
}
*/
/* @media screen and (max-width: 440px) {
    .image, .example {
        min-width: 305px;
        width: auto;
    }
    .blog-image {
        width: 150px;
    }
} */

@media screen and (min-width: 600px) {
    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        width: auto;
    }
}
/*
@media screen and (min-width: 800px) {
    .blog {
        width: 27vw;
        padding: 1em;
        display: inline-block;
        max-width: 300px;
        min-height: 120px;
        margin-bottom: 0px;
    }
} */